Ignore hidden folders
.*

.Rhistory
.RData
..Rcheck
Sibyl.Rcheck
*.log
*.html
*.Rcheck
*.gz
*.txt
vignettes/my-vignette_files
vignettes/my-vignette_cache
vignettes/my-vignette.Rmd
vignettes/my-vignette.html
docs

vignettes/Sibyl_cache

vignettes/articles/Sibyl_cache
